body {
  background-color: antiquewhite;
}
h1,
p {
  text-align: center;
}
footer {
  text-align: center;
  display: block;
}
a {
  margin: 0.5em;
}
.croissant-photo {
  max-width: 50%;
  border-radius: 10px;
  display: block;
  margin: 1.5em auto;
}
